dist-newstyle/
*.o
*.hi
main
Main1
cabal-dev/
.cabal-sandbox/
cabal.sandbox.config
.stack-work/
*.prof
*.aux
*.hp
*.eventlog
.HTF/
.ghc.environment.*
.log.txt
.msg.txt
.sys.txt
.out.hvm
tmp/
TIMES/
.main*
.build/
